source https://api.nuget.org/v3/index.json
framework: net48
storage: none

nuget MathNet.Numerics prerelease
nuget MathNet.Numerics.MKL.Win prerelease
nuget MathNet.Numerics.MKL.Linux prerelease
nuget Microsoft.NETFramework.ReferenceAssemblies
