source https://api.nuget.org/v3/index.json
framework: net48
storage: none

nuget MathNet.Numerics prerelease
nuget MathNet.Numerics.MKL.Win-x64 prerelease
nuget MathNet.Numerics.MKL.Linux-x64 prerelease
nuget Microsoft.NETFramework.ReferenceAssemblies
